= render "user/spotify/song_header"
.container.header-margin
  .row
    .col-lg-10.col-md-10.col-xs-10
      - if @time.present?
        %h4= "Top Impression(#{@time})"
      - else
        %h4 Top Impression
    .col-lg-2.col-md-2.col-xs-2
      = form_with url: user_song_impressions_path, method: :get, local: true do |f|
        = select_tag(:times, options_for_select(times))
        = f.submit '検索', name: nil
  %table.table
    - @impression_count = 0
    - @top_impressions.each do |song_impression|
      %tr
        %td
          - @impression_count += 1
          = @impression_count
        - @song = RSpotify::Track.find(song_impression[0])
        %td
          = link_to user_spotify_song_show_path(@song.id) do
            - if @song.album.images.any?
              - image = @song.album.images[2]
              = image_tag(image["url"])
            - else
              = image_tag("default.jpg")
        %td
          = @song.name
        %td
          = SongImpression.where(song_id: @song.id).count