- if album_rating.blank? 
	= form_with model: new_album_rating, url: user_album_ratings_path do |f| 
		.star
			= f.hidden_field :rate, id: :review_star 
		= f.hidden_field :album_id, :value => album.id 
		= f.submit 'evaluate', class:"btn btn-success"
		:javascript
			$('.star').raty({
				size     : 36,
				starOff:  '#{asset_path('star-off.png')}',
				starOn : '#{asset_path('star-on.png')}',
				scoreName: "album_rating[rate]"
			});
- else
	= form_with model: album_rating, url: user_album_rating_path(album_rating) do |f|
		.star-rate
		= f.submit 'Re-evaluate', class:"btn btn-success"
		:javascript
			$('.star-rate').raty({
				size: 36,
				starOff:  '#{asset_path('star-off.png')}',
				starOn : '#{asset_path('star-on.png')}',
				score: "#{album_rating.rate}" ,
				scoreName: "album_rating[rate]"
			});