.container
  .row
    .col-lg-12.col-md-12.col-xs-12
      %h3 Browsing History
  .row
    .col-lg-12.col-md-12.col-xs-12
      %table.table
        %tr
          %th
          %th Song
          %th Album
          %th Artist
        - @songs.first(30).each do |song_impression|
          %tr
            - @song = RSpotify::Track.find(song_impression)
            %td
              - if @song.album.images.any?
                - image = @song.album.images[2]
                = image_tag(image["url"])
              - else
                = image_tag("default.jpg")
            %td= link_to @song.name, user_spotify_song_show_path(@song.id)
            %td= link_to @song.album.name, user_spotify_album_show_path(@song.album.id)
            %td= link_to @song.artists.first.name, user_spotify_artist_show_path(@song.artists.first.id)