= render "user/users/user_header", user: @user, isRoom: @isRoom, roomId: @roomId
.container.header-margin
  .row
    .col-lg-12.col-md-12.col-xs-12
      - if @user == current_user
        %h3 My favorites
      - else
        %h3= "#{@user.user_name}'s favorites"
  .row
    .col-lg-12.col-md-12.col-xs-12
      %table.table
        %tr
          %th
          %th Song
          %th Album
          %th Artist
        - @song_favorites.each do |song_favorite|
          - @song = RSpotify::Track.find(song_favorite.song_id)
          %tr
            %td= set_song_image(@song,2,true,false)
            %td= link_to @song.name, user_spotify_song_show_path(@song.id)
            %td= link_to @song.album.name, user_spotify_album_show_path(@song.album.id)
            %td= link_to @song.artists.first.name, user_spotify_artist_show_path(@song.artists.first.id)