.user-header.text-center 
  = link_to user_user_path(user) do
    %i.fa.fa-home
  = link_to user_song_favorites_path(user_id: user.id) do
    %i.fa.fa-bookmark
  - if user == current_user
    = link_to edit_user_user_path(user), id: "user-header-edit" do
      %i.fa.fa-pencil
    = link_to user_notifications_path, class: "user-notice" do
      %i.fa.fa-bell
      - if unchecked_notifications.any?
        %p.notice-count= @unchecked_notifications.count
  - unless user_signed_in? && user.id == current_user.id 
    - if (Relationship.find_by(user_id: user, follow_id: current_user)) && (current_user.following?(user)) 
      - if isRoom == true 
        = link_to user_room_path(roomId, pair_user_id: user, anchor: 'last') do
          %i.fa.fa-comments
      - else
        = form_for Room.new, url: user_rooms_path do |f|
          = fields_for Entry.new do |e|
            = e.hidden_field :user_id, value: user.id 
          = button_tag type: 'submit', class: "create_room" do
            %i.fa.fa-comments