.container
	.row
		.col-lg-3.col-md-3.col-xs-3
			= attachment_image_tag(@user, :profile_image,  size: "200x200", fallback: "no-image.png")
		.col-lg-4.col-md-4.col-xs-4
			= @user.user_name
			%br= @user.introduction
			- if @user == current_user
				= link_to "edit", edit_user_user_path(@user)
			-# フォローボタン
			%div{class: "follow_button#{@user.id}"}
				= render "user/relationships/follow_button", user: @user
			= link_to "フォロー", user_users_follow_index_path(@user)
			%br
			= link_to "フォロワー", user_users_follower_index_path(@user)

			- unless @user.id == current_user.id 
				- if (Relationship.find_by(user_id: @user, follow_id: current_user)) && (current_user.following?(@user)) 
					- if @isRoom == true 
						%p.user-show-room
							= link_to "チャットへ", user_room_path(@roomId), class: "btn btn-primary btn-lg"
								
					- else
						= form_for @room, url: user_rooms_path do |f|
							= fields_for @entry do |e|
								= e.hidden_field :user_id, value: @user.id 
							= f.submit "チャットを始める", class:"btn btn-primary btn-lg user-show-chat"
	.row
		.col-lg-6.col-md-6.col-xs-6
			- if user_signed_in? && @user == current_user
				%h2 Latest your comment
			- else
				%h2 Latest #{@user.user_name}'s comment
			- @song_comments.each do |song_comment|
				%table.table
					%tr
						%td
							= link_to user_spotify_song_show_path(song_comment.song_id) do
								- @song = RSpotify::Track.find(song_comment.song_id)
								- if @song.album.images.any?
									- image = @song.album.images[2]
									= image_tag(image["url"])
								- else
									= image_tag("default.jpg")
						%td
							= @song.name
		.col-lg-6.col-md-6.col-xs-6
			- if user_signed_in? && @user == current_user
				%h2 your favorite
			- else
				%h2 #{@user.user_name}'s favorite
			- @song_favorites.each do |song_favorite|
				%table.table
					%tr
						%td
							= link_to user_spotify_song_show_path(song_favorite.song_id) do
								- @song = RSpotify::Track.find(song_favorite.song_id)
								- if @song.album.images.any?
									- image = @song.album.images[2]
									= image_tag(image["url"])
								- else
									= image_tag("default.jpg")
						%td
							= @song.name