- if user_signed_in?
    = link_to "TOP",     user_home_top_path
    = link_to "ABOUT",   user_home_about_path
    = link_to "INQUIRY", user_home_inquiry_path
    = link_to "LOG_OUT", destroy_user_session_path, method: :delete
- else
    = link_to "TOP",     user_home_top_path
    = link_to "ABOUT",   user_home_about_path
    = link_to "SIGN_IN", new_user_registration_path
    = link_to "LOG_IN",  new_user_session_path
%br
= form_with url: user_spotify_index_path, method: :get, local: true do |f|
    = f.text_field :search
    = f.submit '検索', name: nil