!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title HubABlast
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %script{type: "text/javascript", src: "/js/jquery.adaptive-backgrounds.js"}
    %link{rel: "stylesheet", href: "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", integrity: "sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin: "anonymous"}
  %body
    #wrapper
      .loader-wrap
        .loader Loading...
      %header
        = render "layouts/header"
      .yield
        = yield
      
      -if @fixed_footer 
        .fixed-footer 
          %div
            © Hub a Blast 2020
      -else
        %footer
          %div
            © Hub a Blast 2020
